.navbar{
    background-color: black;
    display: flex;
}
.container{
   padding: 0px;

}
.nav-item{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 0px 40px; 
}
.nav-link a:hover{
    color: coral;
}
    

/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
   
}/*