
body{
    background-color: black;
    
    

}
.navbar{
    background-color: black; 
}
.container{
   padding: 0px;
}
.nav-item{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 0px 40px; 
    text-decoration: none;
    text-transform:uppercase;
}
.navbar-nav a:active{
    color: coral !important; 
}
.navbar-nav a:hover{
    color: coral !important;

}
.hero .container{
    width: 2460px;
    height: 1412px;
}
.hero{ 
padding: 100px 0px;
}

.hero h1{
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    font-size: 2 rem;
    font-weight: 400;
    color: #D3D1D1;
      
}
.heroSpaceTxt{
    display: flex;
    
}

.line{
    height: 60px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 80px;
}

.bgGrey{
    background-color: #D3D1D1;
}
.aboutArea{
    padding: 60px;
    border-radius: 4px;
}
.bgGrey .container{ 
    align-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
    
}
.bgGrey h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #DC6523;

}
.bgGrey p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 40px;
}

.uiSkills, .uxResearch{
    padding-left: 0;
}
.uiSkills li, .uxResearch li{
    font-family: 'Roboto', sans-serif;
    color: black;
    text-transform: uppercase;
    list-style: none;
    font-weight: 700;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

.caseStudies{
 margin-top: 100px;
}

  h5.card-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #DC6523;

}
p .card-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-right: 40px;
}  

.card-body{
   margin-top: 20px;
    padding: 50px;
    
}
.btn {
    padding: 5px 30px;
    background: #0F0F0F;
    border-radius: 9px;
    color: #D2EEF0;

}
a:hover{
    color: coral !important;
}

  .previous_next{
      padding: 20px;
      margin-top: 40px;

      margin-left: 68px;
    margin-right: 68px;
  }
  .arrow{
      font-size: 20px;
      color: white;
  }
  .arrow :hover{
      color: coral !important; 
  }
  footer.navbar-nav{
      display: flex;
      justify-content: center;
      align-items: center; 
      margin: 20%; 
  }
  footer{
      text-align: center;
      
  }
  footer a{
     color: white;
      font-size: 1.25rem;
  }

  footer a:active{
      color: coral !important; 
      
  }
  footer a:hover{
      color: coral !important;
  }
  .copyText{
      text-align: right;
      font-size: 10px;
      
  }
  .name{
    color: white;
    font-size: 15px;
    font-size: 20px;

  }
  .orange{
      color: #DC6523;
      font-size: 50px;
  }

  i{
    background-color: black;
  }
 
  